.drop-out_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  width: 600px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;



  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.15px;
  list-style: none;
}

.drop-out_link {
  padding: 7px  15px 8px 0;
}
