.global-nav {
  display: flex;
  justify-content: space-between;

  font-family: $OpenSans;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.global-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  list-style: none;
}

.global-nav__list-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.global-nav__list-other {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.global-nav__item {
  margin-right: 15px;
}

.global-nav__link {
  position: relative;
  flex-grow: 1;
  width: 110px;
  padding: 5px 15px 7px 30px;
  box-sizing: border-box;

  &::before {
	top: 12px;
	left: 7px;
	position: absolute;
	content: '';
	background-repeat: no-repeat;
	background-position: 50% 50%;
  }

  &--signIn::before {
	width: 13px;
	height: 12px;
	background-image: url("../img/icon_signIn.svg");
  }
  &--compare::before {
	width: 10px;
	height: 10px;
	background-image: url("../img/icon_compare.svg");
  }
  &--basket::before {
	width: 12px;
	height: 12px;
	background-image: url("../img/icon_basket.svg");
  }
}

.global-nav__link:hover,
.global-nav__link:focus {
  opacity: 60%;
}

.global-nav__link:active {
  opacity: 30%;
}


//--modifications--

.global-nav--header {

  & .global-nav__list {
	  padding-top: 3px;
	  padding-bottom: 9px;
	  width: 535px;
  }

  & .global-nav__list-user {
	width: 50%;
  }

  & .global-nav__list-other {
	width: 47%;
  }


}

.global-nav--footer {

  & .global-nav__list {
	width: 360px
  }

  & .global-nav__link {
	color: #ffffff;
  }

}

