.general-nav {
  display: flex;
  justify-content: space-between;
}

.general-nav__catalog-inner-wrapper {
  display: flex;
  width: 300px;
}

.general-nav__link {
  padding: 5px 0 7px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;

  text-transform: uppercase;
}

.general-nav__link:hover,
.general-nav__link:focus {
  opacity: 60%;
}

.general-nav__link:active {
  opacity: 30%;
}

.general-nav__catalog-show-more {
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  position: relative;
  font-size: 0;
  border: none;
  background-color: inherit;

  &::before {
	top: 5px;
	right: 2px;
	position: absolute;
	content: '';
	width: 16px;
	height: 2px;
	background-color: #272525;
	opacity: 30%;
  }

  &::after {
	top: 5px;
	left: 2px;
	position: absolute;
	content: '';
	width: 16px;
	height: 2px;
	background-color: #272525;
	transform: rotate(90deg);
	opacity: 30%;
  }
}

.general-nav__catalog-menu {
  display: none;
}

.general-nav__list {
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  list-style: none;
}

.general-nav__item {
  margin-right: 35px;
  margin-bottom: 20px;
}



// --modifications--

.general-nav--header {
  margin-right: -40px;
  & .general-nav__list {
	width: 540px;
	padding-top: 5px;
  }

  & .general-nav__item:nth-child(2){
	margin-right: auto;
  }
}

.general-nav--footer {
  padding-top: 10px;
  & .general-nav__link {
	display: block;
	padding-top: 10px;
	color: #ffffff;
  }
}



