.general-nav {
  display: flex;
  justify-content: space-between;

  margin-right: -40px;
}

.general-nav_catalog-inner-wrapper {
  display: flex;
  width: 300px;
}

.general-nav_link {
  padding: 5px 0 7px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;

  text-transform: uppercase;
}

.general-nav_link:hover,
.general-nav_link:focus {
  opacity: 60%;
}

.general-nav_link:active {
  opacity: 30%;
}

.general-nav_catalog-show-more {
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  position: relative;
  font-size: 0;
  border: none;
  background-color: inherit;

  &::before {
	top: 5px;
	right: 2px;
	position: absolute;
	content: '';
	width: 16px;
	height: 2px;
	background-color: #272525;
	opacity: 30%;
  }

  &::after {
	top: 5px;
	left: 2px;
	position: absolute;
	content: '';
	width: 16px;
	height: 2px;
	background-color: #272525;
	transform: rotate(90deg);
	opacity: 30%;
  }
}

.general-nav_catalog-menu {
  display: none;
}

.general-nav_list {
  display: flex;
  flex-wrap: wrap;

  width: 540px;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  padding-top: 5px;

  list-style: none;
}

.general-nav_item {
  margin-right: 35px;
  margin-bottom: 20px;
}

.general-nav_item:nth-child(2){
  margin-right: auto;
}



