.search {
  font-size: 0;
  margin-top: -3px;
}

.search__label {
  display: inline-block;
  position: relative;
}
.search__field {
  width: 350px;
  box-sizing: border-box;
  margin-bottom: -2px;
  padding: 13px 5px 12px 40px;

  border: none;
  background-color: transparent;

  font-family: inherit;
  font-size: 15px;

  opacity: 50%;
}

.search__field:hover {
  opacity: 100%;
}

.search__field:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

.search__label::before {
  position: absolute;
  content: '';
  top: 12px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search__button {
  width: 85px;
  box-sizing: border-box;

  padding: 12px 7px 12px 8px;

  background-color: transparent;
  border: 2px solid #000000;

  font-size: 15px;

  &:hover,
  &:focus {
	color: #ffffff;
	background-color: #000000;
  }

  &:active {
	color: transparentize(#ffffff, 0.6);
  }
}

