.header {
}

.header .container {
  flex-direction: column;
  padding: 20px 60px 20px;

  background: linear-gradient(#ffffff 40px, $yellow 40px);

}

.header__logo {
  width: 100%;
  margin-bottom: 20px;
}
